In [46]:
!pip install pandas numpy matplotlib seaborn openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\user\appdata\roaming\python\python314\site-packages (3.0.1)
Requirement already satisfied: numpy in c:\users\user\appdata\roaming\python\python314\site-packages (2.4.2)
Requirement already satisfied: matplotlib in c:\users\user\appdata\roaming\python\python314\site-packages (3.10.8)
Requirement already satisfied: seaborn in c:\users\user\appdata\roaming\python\python314\site-packages (0.13.2)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\user\appdata\roaming\python\python314\site-packages (from pandas) (2025.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib) (26.0)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib) (12.1.1)
Requirement already satisfied: pyparsing>=3 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib) (3.3.2)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

<h1>Importing Modules</h1>

In [47]:
import zipfile
import pandas as pd
import openpyxl
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [52]:
pd.set_option('display.max_columns',None)
%matplotlib inline
plt.rcParams['figure.figsize']=(10,8)
warnings.filterwarnings('ignore')

<h4>Importing the Data</h4>

In [49]:
path="C:\\Users\\User\\Documents\\Zomato Restaurant Project\\zomato.zip"
with zipfile.ZipFile(path,'r') as file:
    file.extract('zomato.csv','C:\\Users\\User\\Documents\\Zomato Restaurant Project\\')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\User\\Documents\\Zomato Restaurant Project\\zomato.zip'

In [50]:
df=pd.read_csv('C:\\Users\\User\\Documents\\Zomato Restaurant Project\\zomato.csv',encoding='latin-1')
code=pd.read_excel('C:\\Users\\User\\Documents\\Zomato Restaurant Project\\Country-Code.xlsx')

In [51]:
code.head()

   Country Code    Country
0             1      India
1            14  Australia
2            30     Brazil
3            37     Canada
4            94  Indonesia

<h1>Statistical Analysis</h1>

In [63]:
#Data shape
print('---------Restaurant_data----------')
print(f'Rows in Restaurant_data: {df.shape[0]}\nColumns in Restaurant_data: {df.shape[1]}')
print('-----------Country_Code_data------------')
print(f'Rows in Country_Code_data: {code.shape[0]}\nColumns in Country_Code_data: {code.shape[1]}')

---------Restaurant_data----------
Rows in Restaurant_data: 9551
Columns in Restaurant_data: 21
-----------Country_Code_data------------
Rows in Country_Code_data: 15
Columns in Country_Code_data: 2

In [72]:
#Data describe
print('=='*10)
print("Data Describe")
print('=='*10)
df.describe()

====================
Data Describe
====================

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Price range,Aggregate rating,Votes
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,64.126574,25.854381,1199.210763,1.804837,2.666370,156.909748
std,8.791521e+06,56.750546,41.467058,11.007935,16121.183073,0.905609,1.516378,430.169145
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,1.000000,0.000000,0.000000
25%,3.019625e+05,1.000000,77.081343,28.478713,250.000000,1.000000,2.500000,5.000000
50%,6.004089e+06,1.000000,77.191964,28.570469,400.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.282006,28.642758,700.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,4.000000,4.900000,10934.000000

In [73]:
#data information
print('=='*10)
print("Data Information")
print('=='*10)
df.info()

====================
Data Information
====================
<class 'pandas.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   str
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   str
 4   Address               9551 non-null   str
 5   Locality              9551 non-null   str
 6   Locality Verbose      9551 non-null   str
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   str
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   str
 12  Has Table booking     9551 non-null   str
 13  Has Online delivery   9551 non-null   str
 14  Is delivering now     9551 non-null   str
 15  Switch to order menu  9551 non-null   str
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   str
 19  Rating text           9551 non-null   str
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), str(13)
memory usage: 1.5 MB

<h1>Data Preprocessing</h1>

1.duplicate value
2.missing value
3.missing value percentage
4.imputing or remove null values
5.formating the column names 
6.droping the noise columns
7.changing the values from yes/no to 0/1

<h3>Handling Duplicate Values</h3>

In [78]:
#Duplicate Values
print('=='*10)
print(f"No of duplicated rows : {df.duplicated().sum(axis=0)}")
print('=='*10)
print(f'No of duplicates based on combined comlumns(Restuarant Name and Address): {df.duplicated(subset=['Restaurant Name','Address']).sum()}')
print('=='*10)

====================
No of duplicated rows : 0
====================
No of duplicates based on combined comlumns(Restuarant Name and Address): 0
====================

<h3>Handling Missing Values</h3>

In [91]:
#Missing Values
print('=='*10)
print(f'No of Null Values: \n{df.isna().sum()}')
print('=='*10)

====================
No of Null Values:
Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64
====================

In [90]:
#Columns having Null Values
print('=='*10)
print(f'Columns having Null Values : {[col for col in df.columns if df[col].isna().sum()>0]}')
print('=='*10)

====================
Columns having Null Values : ['Cuisines']
====================

In [100]:
#Drop null if greater than threshold else impute
threshold=0.05
cuisine_null_percentage=(
    df['Cuisines'].isna().sum()/df.shape[0]
)
print(f'The percentage of Null values in Cuisines Columns: {cuisine_null_percentage}')
print(f'Before Droping : {df.shape}')
if cuisine_null_percentage<=threshold:
    df['Cuisines'].dropna(inplace=True)
    print(f'After Droping : {df.shape}')
else:
    df['Cuisines'].fillna(df['Cuisines'].mode()[0],inplace=True)

The percentage of Null values in Cuisines Columns: 0.0
Before Droping : (9542, 21)
After Droping : (9542, 21)

<h3>Droping Noise Columns</h3>

In [107]:
#Droping noise columns
columns=['restaurant_id','locality_verbose','longitude','latitude','is_delivering_now','switch_to_order_menu']
df.drop(columns=columns,inplace=True)
print(f'The Columns after Droping :\n{df.columns}')

The Columns after Droping :
Index(['restaurant_name', 'country_code', 'city', 'address', 'locality',
       'cuisines', 'cost', 'currency', 'table_booking', 'online_delivery',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes'],
      dtype='str')

<h3>Formating Columns</h3>

In [106]:
#Formating Column Names
print(f'------------Before Formating:------------\n{df.columns}')
df.columns=df.columns.str.lower().str.strip().str.replace(' ','_')#replace the space with underscore and strip the extra spaces 
#Rename the columns 
df=df.rename(columns={'average_cost_for_two':'cost','has_table_booking':'table_booking','has_online_delivery':'online_delivery'})
print(f'------------After Formating:-------------\n{df.columns}')

------------Before Formating:------------
Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes'],
      dtype='str')
------------After Formating:-------------
Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'cost', 'currency', 'table_booking', 'online_delivery',
       'is_delivering_now', 'switch_to_order_menu', 'price_range',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes'],
      dtype='str')

<h3>Replace Yes/No and Changing Datatype</h3>

In [115]:
#Replace yes/no to 0/1
column=['table_booking','online_delivery']
mapping={'Yes':1,'No':0}
df[column]=df[column].apply(lambda col:col.map(mapping)).astype('int32')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer.Replace or remove non-finite values or cast to an integer typethat supports these values (e.g. 'Int64')

In [118]:
#Changing the columns datatype
col=['country_code','cost','price_range','votes']
df[col]=df[col].astype('int32')
df['aggregate_rating']=df['aggregate_rating'].astype('float32')

In [120]:
df.info()

<class 'pandas.DataFrame'>
Index: 9542 entries, 0 to 9550
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   restaurant_name   9542 non-null   str
 1   country_code      9542 non-null   int32
 2   city              9542 non-null   str
 3   address           9542 non-null   str
 4   locality          9542 non-null   str
 5   cuisines          9542 non-null   str
 6   cost              9542 non-null   int32
 7   currency          9542 non-null   str
 8   table_booking     9542 non-null   int32
 9   online_delivery   9542 non-null   int32
 10  price_range       9542 non-null   int32
 11  aggregate_rating  9542 non-null   float32
 12  rating_color      9542 non-null   str
 13  rating_text       9542 non-null   str
 14  votes             9542 non-null   int32
dtypes: float32(1), int32(6), str(8)
memory usage: 931.8 KB

In [122]:
code.columns=code.columns.str.lower().str.strip().str.replace(' ','_')

<h3>Final Dataset</h3>

In [125]:
#Merge the dataset on country code
final_df=df.merge(code,on='country_code',how='left')